{% extends 'base.jinja' %}

{% block head %}
<title> Robots Asistenciales</title>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}

{% block content %}

<body class="bg">
    <fieldset class="main-container row p-5 mx-0 justify-content-center align-self-center bot">
        <div class="main-container row p-5 mx-0 justify-content-center align-self-center">
            <h1 class="main-container row p-5 mx-0 justify-content-center align-self-center">Formulario Tareas</h1>
            <form class="main-container row p-5 mx-0 justify-content-center align-self-center" method="post"
                name="formulario_lista_tareas">

                <div class="card">
                    <div class="card-body py-5 px-md-5">
                        <form class="form_formulario_tecnico_tareas" action="/admin/formularioTareas" method="POST">
                            <!-- ID input -->
                            <div class="form-group row mb-4">
                                <label for="id" class="col-sm-2 col-form-label">Id</label>
                                <div class="col-sm-10">
                                    <input type="id" class="form-control" id="id" name="id" placeholder="Id">
                                </div>
                            </div>

                            <!-- NombreTareas input -->
                            <div class="form-group row mb-4">
                                <label for="descripcionTarea" class="col-sm-2 col-form-label">Descripcion Tarea</label>
                                <div class="col-sm-10">
                                    <input type="descripcionTarea" class="form-control" id="descripcionTarea" name=descripcionTarea placeholder="Descripcion Tarea">
                                </div>
                            </div>
                            <!-- TipoTareas input -->
                             <div class="form-group row mb-4">
                                <label for="tipo" class="col-sm-2 col-form-label">Tipo</label>
                                <div class="col-sm-10">
                                    <input type="tipo" class="form-control" id="name" name="tipo" placeholder="Tipo">
                                </div>
                            </div>

                            <!-- Enviar Tarea button -->
                            <button type="submit" class="btn btn-block mb-4 bot_inicio">
                                Crear Tarea
                            </button>
                            <!--Limpiar Tarea button -->
                            <button type="submit" class="btn btn-block mb-4 bot_inicio">
                                Limpiar
                            </button>

                            {% for mesg in get_flashed_messages() %}
                                {% if mesg == '¡Tarea creada con éxito!' %}
                                    <div class = "text-center alert alert-success">
                                        <p style="color: green;">{{ mesg }}<p>
                                    </div>
                                {% else %}
                                    <div class = "text-center alert alert-danger ">
                                        <p style="color: red;">{{ mesg }}<p></p>
                                    </div> 
                                {% endif %}
                            {% endfor %}
                        </form>
                    </div>
                </div>
            </form>
        </div>
    </fieldset>
</body>

{% endblock %}

{% block scripts %}

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
    integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous">
    </script>

{% endblock %}