{% extends 'base.jinja' %}

{% block head %}
<title>Detalles Robot</title>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}


{% block content %}

<body class="bg">
    <div class="main-container row p-5 mx-0 justify-content-center align-items-center align-self-center">
        <div class="row col-md-10 px-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-custom">
                    <li class="breadcrumb-item"><a href="/doctor" data-abc="true">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><span>Información de los robots del hospital</span></li>
                </ol>
            </nav>
        </div>
        <div class="row col-md-10 px-3">
            <div class="col-sm-9">
                <legend>
                    <h2>{{robot.name}}</h2>
                </legend>
                {#<p class="padd">
                {% if robot.id == "0" or "3" or "6" or "8" %}
                    <P>LIMPIEZA {{robot.id}}</P>
                    {% if robot.id == "1" or "5" or "7" or "9" %}
                        <P>Transporte {{robot.id}}</P>
                    {% endif %}
                        {% if robot.id == "4" %}
                            <P>Telemedicina {{robot.id}}</P>
                            <img src="../static/images/telemedicina.png" alt="telemedicina" width="900" height="600">
                        {% endif %}
                {% endif %}
                </p>#}
            </div>
        </div>
        <div class="row col-md-10 px-3 bot3">
            <fieldset class="col-md-5 d-flex justify-content-left align-items-center">
                <form class="row px-3" method="POST" action="/upload" enctype="multipart/form-data">
                    <div>
                        <table class="table table-hover table-sortable">
                            <h2 class="text-center">Información del robot</h2>
                            <thead>
                                <tr>
                                    <th scope="col"> ID Robot </th>
                                    <th scope="col"> Nombre Robot </th>
                                    <th scope="col"> Tarea actual </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{robot.id}}</td>
                                    <td>{{robot.name}}</td>
                                    <td>{{tarea.tipo_tarea}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </fieldset>
            <fieldset class="text-black col-md-6 px-3 bot3">
                <form method="GET" class="mt-5 row">
                    <div>
                        <table class="table table-sortable">
                            <h2>Historial</h2>
                            <thead>
                                <tr>
                                    <th scope="col">Historial</th>
                                    <th scope="col"></th>
                                    <th scope="col">Fecha</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>{{historial.id_Tareas}}</td>
                                    <td>{{historial.date}}</td>
                                </tr>
                            </tbody>
                        </table>
                                <td>
                                <a class="btn btn-secondary" href="/doctor/deleteHistorial">Eliminar Historial</a>
                                </td>
                    </div>
            </fieldset>
        </div>
    </div>
    {% endblock %}

    {% block scripts %}

    <script src="https://cd
n.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous">
        </script>
    {% endblock %}