{% extends 'base.jinja' %}

{% block head %}
  <title> Robots Asistenciales</title>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}

{% block content %}

<body class="bg">

  <div class="main-container row p-5 mx-0 justify-content-center align-self-center">
    <legend>Técnico</legend>
          <p class="padd">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse 
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 
                    officia deserunt mollit anim id est laborum.
                </p>
    <div class="text-left">
      <button type="button" class="btn btn-dark btn-lg incidencias my_black"> Incidencias </button>
    </div>

    <fieldset class="col-md-4 d-flex justify-content-center align-self-center">
        <form class="row px-3" method="POST" action="/upload" enctype="multipart/form-data">

            <div>
                <div class="text-left margen padd">
                  <div class="dropdown">
                    <button class="btn btn-dark btn-lg dropdown-toggle editar" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Table de tareas
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">Añadir nueva tarea</a>
                      <a class="dropdown-item" href="#">Editar</a>
                      <a class="dropdown-item" href="#">Eliminar</a>
                    </div>
                </div>
                </div>
                <div class="text-left margen padd">
                  <button class="btn btn-dark btn-lg dropdown-toggle editar" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Tabla de robots
                  </button> Ver tabla
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Añadir un nuevo robot</a>
                    <a class="dropdown-item" href="#">Editar</a>
                    <a class="dropdown-item" href="#">Eliminar</a>
                  </div>
                </div>
                <div class="text-left margen padd">
                  <button class="btn btn-dark btn-lg dropdown-toggle editar" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Tabla de Usuarios
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Registrar nuevo usuario</a>
                    <a class="dropdown-item" href="#">Editar</a>
                    <a class="dropdown-item" href="#">Eliminar</a>
                  </div>
                </div>
            </div>
        </form>
        <form class="row px-8" method="POST" action="/upload" enctype="multipart/form-data">
          
        </form>
    </fieldset>
    <fieldset class="text-black col-md-8 px-3">
      <form method="GET" class="mt-5 row justify-content-center">
        <div>
          <table class="table"> <h2 class="text-center">Lista de Usuarios</h2>
            <thead>
              <tr>
                <th scope="col"> id </th>
                <th scope="col"> name </th>
                <th scope="col"> email </th>
                <th scope="col"> password </th>
                <th scope="col"> status </th>
                <th scope="col"> date </th>
              </tr>
            </thead>
            <tbody>
              {% for user in usuarios %}
                <tr>
                  <td>{{user.id}}</td>
                  <td>{{user.name}}</td>
                  <td>{{user.email}}</td>
                  <td>{{user.password}}</td>
                  <td>{{user.status}}</td>
                  <td>{{user.date}}</td>
                </tr> 
              {% endfor %}
            </tbody>
          </table>
        </div>
      </form>
      <form method="GET" class="mt-5 row justify-content-center">
        <div>
          <table class="table"> <h2>Lista de Tareas</h2>
            <thead>
              <tr>
                <th scope="col"> ID Tareas </th>
                <th scope="col"> Name </th>
                <th scope="col"> Tipo de Tarea </th>
                <th scope="col"> Fecha </th>
              </tr>
            </thead>
            <tbody>
              {% for task in tareas %}
                <tr>
                  <td>{{task.id}}</td>
                  <td>{{task.name}}</td>
                  <td>{{task.tipo}}</td>
                  <td>{{task.date}}</td>
                </tr> 
              {% endfor %}
            </tbody>
          </table>
        </div>
      </form>

      <form method="GET" class="mt-5 row justify-content-center">
        <div>
          <table class="table"> <h2>Lista de Robots</h2>
            <thead>
              <tr>
                <th scope="col"> ID </th>
                <th scope="col"> Tipo Tarea </th>
                <th scope="col"> Nombre </th>
                <th scope="col"> Fecha </th>
              </tr>
            </thead>
            <tbody>
              {% for robot in robots %}
                <tr>
                  <td>{{robot.id_Tareas}}</td>
                  <td>{{robot.tipoTarea}}</td>
                  <td>{{robot.name}}</td>
                  <td>{{robot.date}}</td>
                </tr> 
              {% endfor %}
            </tbody>
          </table>
        </div>
      </form>
  </fieldset>
  </div>
{% endblock %}

{% block scripts %}

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
    integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous">
    </script>

{% endblock %}